@font-face {
  font-family: 'Roberto';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap')
      format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;

  --color-primary: #93cb52;
  --color-light: #f4f4f4;
  --color-dark: #333333;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align:center;
}

.text-primary {
  color: var(--color-primary);
}

.bg-light {
  background: var(--color-light);
  color: var(--color-dark);
}

.bg-dark {
  background: var(--color-dark);
  color: var(--color-light);
}

.bg-primary {
  background: var(--color-primary);
  color: var(--color-light);
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

/* Button Styling */

.btn {
  display: inline-block;
  color: var(--color-light);
  background: var(--color-primary);
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-dark {
  background: #CCC;
  color: #fff;
}

.btn-form {
  width: 30%;
}

.btn-light {
  background: rgba(0,0,0,0.2);
  color: var(--color-dark);
  width: 40%;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}


.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

.img-icons {
  aspect-ratio: 1 / 1;
}

.blur-load {
  background: cover;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top:0;
  background: var(--color-dark);
  color: var(--color-light);
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: var(--color-light);
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: var(--color-primary);
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: var(--color-dark) url('../img/Cityscape\ Financial\ District@1960px.webp') no-repeat center center/cover;
  height: 100vh;
  color: var(--color-light);
  position: relative;
}

#showcase .showcase-content {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  padding: 0 2rem;
}

#overlay {
  position: absolute;
  top: 0px;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}


/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: var(--color-primary);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}


/* Section: Who We Are */
#who {
  display: flex;
}

#who div {
  flex: 1;
}

#who .who-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-dark);
  padding-left: 2rem;
}

img#company-image {
  max-width: 100%;
  height: auto;
}


div.blur-load {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#who div > img {
  display: block;
  width: 100%;
  aspect-ratio: 3 / 2;
  object-position: center;
  object-fit: cover;
}

/* Section: Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}


/* Section: Contact */
#contact {
  display: flex;
}

#contact .m-heading {
  color: var(--color-light);
}

#contact .map, #contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin-bottom: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}


/* MAP */
.map {
  background: url('../img/fusion-financial-map.png') no-repeat center center/cover;
  background-color: var(--color-primary);
}


/* Footer */
a#copyright-link {
  color: var(--color-primary);
}

a.logo {
  color: inherit;
}